body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.nechaimage {
  width: 200px;
  height: 100px;
  margin-top: auto;
  margin-bottom: auto;
}

.card {
    width: 400px;
    text-align: center;
    display: flex;
    padding: 10px;
    justify-content: space-around;
    margin: 0 auto;
    border-bottom: 5px solid #d8cefe;

  
}

.text{
    color: white;
    text-shadow: 1px 0px black, -1px 0px black, 0px -1px black, 0px 1px black;
    box-shadow: 2px 2px 5px purple;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    width: 150px;
    position: relative;
    
    animation-name: myanimation;
    animation-duration: 4s;
}

h3:hover {color : purple;}

.dotted_blue_border {
    border: 1px dotted blueviolet;
}

@keyframes myanimation {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}
